body{
    background-color: black;
    font-family: 'Poppins',sans-serif;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size:15vh;
    margin: 2vh;
    padding: 2vh;
    
    color: aliceblue;
}
 
.container{
    display: flex;
    /* border: 2px solid white; */
    height: 75vh;
    width: 75vh;
    flex-wrap: wrap;
}

.grid_items{
    border: 1px solid #eee;
    flex: 0 0 auto;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    font-size: 15%;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
    
}

.flip-card-front {
    background-color: #eee;
    color: black;
    font-size:2vh;
}

.flip-card-back {
    background-color: #ecbd00;
    color: white;
    transform: rotateY(180deg);
    font-size:2vh;
}

.flipped{
    transform: rotateY(180deg);
}

.buttons{
    /* border: 2px solid white; */
    display: flex;
}

.buttons button{
    background-color: #ecbd00;
    color: #eee;
    padding: 2vh;
    margin: 4vh;
    border-radius: 10%;
    font-size: 4vh;
}
#home {
    display: flex;
    justify-content: flex-start;
  }
  
  #homebtn {
    width: 80px;
    height: 80px;
    background: transparent;
    outline: none;
    border: 3px solid white;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    top: 40px;
    left: 20px; /* Move button to the leftmost position */
    padding: 0;
    margin-left: 20px; /* Add margin for spacing */
    transition: 0.3s;
  }
  
  #homebtn:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
    border-color: white;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  }
  

  #logo {
    width: 100%; /* Make logo fit inside button */
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
  }