@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;600;700&display=swap');
body{
    background-image: url("background.png");
    background-size: cover;
    background-size: contain;
    color: white;
    text-align: center;
    font-family: "poppins";
    font-weight: bolder;
}
h2{
    color: gold;
    font-size: 40px;
}
#home{
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;;
}
#homebtn {
    width: 80px; /* Adjust based on logo size */
    height: 80px; /* Adjust based on logo size */
    background: transparent;
    outline: none;
    border: 3px solid white; /* White border */
    border-radius: 50%; /* Circular shape */
    cursor: pointer;
    position: fixed;
    top: 40px;
    padding: 0;
    transition: 0.3s;
    /* box-shadow: 0px 4px 8px white; */
    z-index : 1000; /* Light shadow effect */
  }
  #logo {
    width: 100%; /* Make logo fit inside button */
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
  }
  
  #homebtn:hover {
    background-color: white;
    color: black;
    transform: scale(1.1); /* Slightly enlarges button on hover */
    border-color: white; /* Keeps the border white on hover */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); /* Slightly stronger shadow on hover */
  }
.container{
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    gap:1.5rem;
    color: aqua;
}
.inputAreas{
    width: 80%;
    height:50px;
    border-radius: 0.9rem;
    font-weight: bolder;
    font-size: larger;
    font-style: "Poppins";    
    color: white;
    cursor: pointer;
}
#uploadForm{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items:start;
    width:40%;
    height: 40%;
    box-shadow: -1px 5px 10px goldenrod;
    padding: 30px;
    gap:0.5rem;
    overflow: hidden;
    border-radius: 0.9rem;
    backdrop-filter: blur(10px);
}
#submit-btn{
    font-family: "Poppins";
    font-weight: bolder;
    font-size: large;
    color: white;
    cursor: pointer;
}
#submit-btn:hover{
    /* background-color: white; */
    /* color: black; */
    transform: scale(1.1);
    transition-duration: 0.5ss;
    
}
/* #modelPreview{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:40%;
    height: 40%;
    box-shadow: -1px 5px 10px goldenrod;
    padding: 30px;
    gap:0.5rem;
    overflow: hidden;
} */
.input-titles{
     text-align: left;
}
p{
    /* color: gold; */
    font-size: 20px;
}
#modelFile{
    cursor: pointer;
}

#listofModels{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
    /* border: 2px solid wheat; */
    /* text-align: center; */
}
.mudra-element,.mudra-element-dance{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(10px);
    padding:14px;
    margin: 10px;
    border-radius: 0.9rem;
    width: 15%;
    border: 2px solid gold;
}

.mudra-element h3{
    margin: 0px;
}

.delete-btn{
    background-color: aqua;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 0.9rem;
    margin-left: 10px;
}

.delete-btn:hover{
    transform: scale(1.1);
    transition-duration: 0.5ms;
}


@keyframes loading{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.loader,.loaderDance{
    border: 8px solid goldenrod;
    border-bottom: 8px solid aqua;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: loading 1s linear infinite;
}