body {
    font-family: 'Poppins', sans-serif;
    background-image: url('./home.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center;
    color: white; 
    margin: 10px;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

 
.container {
    max-width: 90%;
    margin: 50px auto;
    text-align: center;
}

#header {
    font-family: 'Poppins', sans-serif; 
    font-size: 8vw; 
    color: gold; 
    margin: 0;
}

.choose-file-container {
    margin-top: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.file-input {
    display: none; 
}

#fileNameDisplay {
    margin-top: 10px;
    font-size: 1.2em;
    color: gold; 
}

.custom-file-button {

    width: 200px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 600;
    /* margin-left: 40px; */
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-file-button:hover {
    background-color: white;
    color: black; /* Darker green */
    transform: scale(1.1);
}



#startButton{
    width: 200px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 600;
    /* margin-left: 40px; */
    transition: .5s;
}

#startButton:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
}
.button-wrapper {
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%);
    z-index: 10000; 
}


#resetButton {
    width: 200px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 600;
    margin: 0; /* Remove any margin */
    margin-left: 10px;
    transition: transform .5s, background-color .5s, color .5s;
}

#resetButton:hover {
    background-color: white;
    color: black;
    transform: scale(1.1); /* Scale effect on hover */
}

#waveform{
    margin-left: 60px;
    margin-right: 60px;
}




.results {
    margin-top: 20px;
}

#frequencyDisplay, #alertDisplay {
    font-size: 18px;
}

#models{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#curr-model-heading,#seq{
    font-size: 2em;
    color: gold;
    font-family: 'poppins';
    
}

.curr-model{
   
   width: 600px;
   height: 600px;
   border-radius: 20px;
   backdrop-filter: blur(2px);
   box-shadow: -1px 2.5px 5px gold;
}

#model_sequence{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
#s1,#m1,#m2,#m3,#m4,#e1,#m5,#m6,#m7,#m8,#m9,#m10,#m11,#m12{
    width: 220px;
    height: 300px;
    margin: 10px 10px 0px 10px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    box-shadow: -1px 2.5px 5px gold;
}
.start-canvas,.end-canvas{
    font-size: larger;
    display: flex;       
    height: 100vh;           
    text-align: center; 
    align-items: center;   
}
#homebtn:hover {
    background-color: white;
    color: black;
    transform: scale(1.1); 
    border-color: white; 
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); 
  }

  #home {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
  }
  
  #homebtn {
    width: 80px; 
    height: 80px; 
    background: transparent;
    outline: none;
    border: 3px solid white;
    border-radius: 50%; 
    cursor: pointer;
    position: fixed;
    top: 40px;
    padding: 0;
    transition: 0.3s;
  }

  #logo {
    width: 100%; /* Make logo fit inside button */
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
  }